@model Thuctap01.Models.MuchocphiModel

@{
    ViewData["Title"] = "Edit";
}

<h4>Update Mức Học Phí</h4>
<hr />
    <form class="row g-3" asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Mamonhoc" />
        <div class="col-md-6">
            <label asp-for="Monhoc" class="control-label"></label>
            <input asp-for="Monhoc" class="form-control" />
            <span asp-validation-for="Monhoc" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Khoakhoi" class="control-label"></label>
            <input asp-for="Khoakhoi" class="form-control" />
            <span asp-validation-for="Khoakhoi" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="ThoiLuong" class="control-label"></label>
            <input asp-for="ThoiLuong" class="form-control" />
            <span asp-validation-for="ThoiLuong" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Donvitinh" class="control-label"></label>
            <input asp-for="Donvitinh" class="form-control" />
            <span asp-validation-for="Donvitinh" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="mucthu" class="control-label"></label>
            <input asp-for="mucthu" class="form-control" />
            <span asp-validation-for="mucthu" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="nienkhoa" class="control-label"></label>
            <input asp-for="nienkhoa" class="form-control" />
            <span asp-validation-for="nienkhoa" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Tonghocphi" class="control-label"></label>
            <input asp-for="Tonghocphi" class="form-control" />
            <span asp-validation-for="Tonghocphi" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Trangthai" class="control-label"></label>
            <input asp-for="Trangthai" class="form-control" />
            <span asp-validation-for="Trangthai" class="text-danger"></span>
        </div>
        <div class="col-md-2">
            <input type="submit" value="Lưu" class="btn btn-primary" style="background: orange; color:white;width:100px"/>
        </div>
        <div class="col-md-2">
            <a asp-action="Index" class="btn btn-primary">Quay Lại</a>
        </div>
    </form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
