@model Thuctap01.Models.QuanlyhocphiModel

@{
    ViewData["Title"] = "Create";
}
<h4>QuanlyhocphiModel</h4>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Thêm Học Phí</h5>
            
        </div>
        <div class="modal-body">
            <form class="row g-3" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-6">
                    <label asp-for="Mahocvien" class="control-label"></label>
                    <input asp-for="Mahocvien" class="form-control" />
                    <span asp-validation-for="Mahocvien" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Tenhocvien" class="control-label"></label>
                    <input asp-for="Tenhocvien" class="form-control" />
                    <span asp-validation-for="Tenhocvien" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="lop" class="control-label"></label>
                    <input asp-for="lop" class="form-control" />
                    <span asp-validation-for="lop" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Khoakhoi" class="control-label"></label>
                    <input asp-for="Khoakhoi" class="form-control" />
                    <span asp-validation-for="Khoakhoi" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Doituong" class="control-label"></label>
                    <input asp-for="Doituong" class="form-control" />
                    <span asp-validation-for="Doituong" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <label asp-for="DienThoai" class="control-label"></label>
                    <input asp-for="DienThoai" class="form-control" />
                    <span asp-validation-for="DienThoai" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="NgayNhapHoc" class="control-label"></label>
                    <input asp-for="NgayNhapHoc" class="form-control" />
                    <span asp-validation-for="NgayNhapHoc" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Hocphi" class="control-label"></label>
                    <input asp-for="Hocphi" class="form-control" />
                    <span asp-validation-for="Hocphi" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Trangthai" class="control-label"></label>
                    <input asp-for="Trangthai" class="form-control" />
                    <span asp-validation-for="Trangthai" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Thucthu" class="control-label"></label>
                    <input asp-for="Thucthu" class="form-control" />
                    <span asp-validation-for="Thucthu" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Ngaythu" class="control-label"></label>
                    <input asp-for="Ngaythu" class="form-control" />
                    <span asp-validation-for="Ngaythu" class="text-danger"></span>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="col-1">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                        <div class="col-2">
                            <a asp-action="Index" class="btn btn-primary">Quay Lại</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
