
@{
    ViewData["Title"] = "Thuhocphi";
}

@*<form class="row g-3">
    <div class="col-md-6">
        <b>Quản lý học phí > <a>Quản lý thu học phí > </a><a style="color:orange" asp-action="Thuhocphi">Thu học phí</a></b>
    </div>
</form>
<form class="row g-3">
    <div class="col-md-6">

    </div>
    <div class="col-md-6">

    </div>
    <div class="col-md-12">

    </div>
</form>*@
