@model Thuctap01.Models.GiangvienModel

@{
    ViewData["Title"] = "Create";
}   
<h4>Thêm Thông Tin Giảng Viên</h4>
<hr />
<form class="row g-3" asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-md-6">
        <label asp-for="Magiangvien" class="control-label"></label>
        <input asp-for="Magiangvien" class="form-control" />
        <span asp-validation-for="Magiangvien" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="Hovaten" class="control-label"></label>
        <input asp-for="Hovaten" class="form-control" />
        <span asp-validation-for="Hovaten" class="text-danger"></span>
    </div>
    <div class="col-md-3">
        <label asp-for="manghach" class="control-label"></label>
        <input asp-for="manghach" class="form-control" />
        <span asp-validation-for="manghach" class="text-danger"></span>
    </div>
    <div class="col-md-3">
        <label asp-for="Chucvu" class="control-label"></label>
        <input asp-for="Chucvu" class="form-control" />
        <span asp-validation-for="Chucvu" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="Tobomon" class="control-label"></label>
        <input asp-for="Tobomon" class="form-control" />
        <span asp-validation-for="Tobomon" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="Loaihopdong" class="control-label"></label>
        <input asp-for="Loaihopdong" class="form-control" />
        <span asp-validation-for="Loaihopdong" class="text-danger"></span>
    </div>
    @*<div class="col-md-6">
        <label asp-for="Ngaybatdaulamviec" class="control-label"></label>
        <input asp-for="Ngaybatdaulamviec" class="form-control" />
        <span asp-validation-for="Ngaybatdaulamviec" class="text-danger"></span>
    </div>*@
    <div class="col-md-6">
        <label asp-for="Nghiphep" class="control-label"></label>
        <input asp-for="Nghiphep" class="form-control" />
        <span asp-validation-for="Nghiphep" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="Trangthai" class="control-label"></label>
        <select asp-for="Trangthai" class="form-control">
            <option></option>
            <option style="color:greenyellow">Sắp giảng dạy</option>
            <option style="color:blue">Đang giảng dạy</option> 
            <option style="color:red">Ngừng giảng dạy</option>
        </select>
        <span asp-validation-for="Trangthai" class="text-danger"></span>
    </div>
    <hr />  
    <div class="col-1">
        <input type="submit" value="Lưu" class="btn btn-primary" style="color: white; background: orangered;width:93px" />
    </div>
    <div class="col-2">
        <a asp-action="Index" class="btn btn-primary">Quay Lại</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
