@model Thuctap01.Models.LuongModel

@{
    ViewData["Title"] = "Edit";
}
<form class="row g-3">
    <div class="col-md-6">
        <b>Quản Lý Lương > <a> Hồ Sơ Giảng Viên > </a><a  style="color:orange" asp-action="Edit">Cập nhật hồ sơ</a></b>
    </div>
</form>
<br />
<h4 style="text-align:center">Thông Tin Lương</h4>
<hr />
<p style="color:blue; text-align:left">Loại hoạt động-Hệ số lương </p>
<div class="row">
    <form asp-action="Edit" class="row g-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="IDLuong" />
        <div class="col-md-6">
            <label asp-for="Loaihopdong" class="control-label"></label>
            <input asp-for="Loaihopdong" class="form-control" />
            <span asp-validation-for="Loaihopdong" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Ngachhang" class="control-label"></label>
            <input asp-for="Ngachhang" class="form-control" />
            <span asp-validation-for="Ngachhang" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Lươngcoban" class="control-label"></label>
            <input asp-for="Lươngcoban" class="form-control" />
            <span asp-validation-for="Lươngcoban" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="manghach" class="control-label"></label>
            <input asp-for="manghach" class="form-control" />
            <span asp-validation-for="manghach" class="text-danger"></span>
        </div>

        <div class="col-md-6">
            <label asp-for="Vanbanquyetdinh" class="control-label"></label>
            <input asp-for="Vanbanquyetdinh" type="file" class="form-control" id="inputGroupFile01" style="color:blue" />
            <span asp-validation-for="Vanbanquyetdinh" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="baohiemphaidong" class="control-label"></label>
            <input asp-for="baohiemphaidong" class="form-control" />
            <span asp-validation-for="baohiemphaidong" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Hesoluong" class="control-label"></label>
            <input asp-for="Hesoluong" class="form-control" />
            <span asp-validation-for="Hesoluong" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Filedinhkem" class="control-label"></label>
            <input asp-for="Filedinhkem" type="file" class="form-control" id="inputGroupFile02" style="color:blue" />
            <span asp-validation-for="Filedinhkem" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Bacluong" class="control-label"></label>
            <input asp-for="Bacluong" class="form-control" />
            <span asp-validation-for="Bacluong" class="text-danger"></span>
        </div>

        <div class="col-md-6">
            <label asp-for="Ngayapdungngachbac" class="control-label"></label>
            <input asp-for="Ngayapdungngachbac" class="form-control" />
            <span asp-validation-for="Ngayapdungngachbac" class="text-danger"></span>
        </div>
        <br />
        @*<div class="col-md-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" asp-for="Phucap" checked>
                <label class="form-check-label" for="flexCheckChecked" asp-for="Phucap" style="color:blue">
                    Phụ Cấp
                </label>
            </div>
        </div>*@
        <br />
        <div class="col-md-2">
            <label class="control-label">Phụ Cấp 1</label>
        </div>
        <div class="col-md-8">
            @*<label asp-for="Phucap" class="control-label"></label>*@
            @*<input asp-for="Phucap" class="form-control" />*@
            <select id="inputState" class="form-select" style="width:610px;height:35px">
                <option selected>Phụ cấp thâm niên vượt khung</option>
                <option>...</option>
            </select>
            <span asp-validation-for="Phucap" class="text-danger"></span>
        </div>
        <div class="col-md-2" style="text-align:left">
            <input class="form-control" type="text" placeholder="18 %" aria-label="Disabled input example" disabled  style="width:130px;height:35px"/>
            <span asp-validation-for="Phucap" class="text-danger"></span>
        </div>
        <br />
        <hr />
        <div class="col-md-2">
            <input type="submit" value="Cập Nhật" class="btn btn-primary" style="width:100px;background:orange" />
        </div>
        <div class="col-md-2">
            <a asp-action="Index" class="btn btn-primary">Đóng</a>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
